# Using `rustic_ml` in a Jupyter notebook

First step is to include the create to the notebook. Since this is a example within the library iteself, we import the libary using the path:

In [6]:
:dep rustic_ml = { path = "../" }
extern crate rustic_ml;

Next, include the function that we are going to use from the library:

In [7]:
use rustic_ml::data_utils::dataframe::Dataframe;

Reading a csv file:

In [ ]:
let path = String::from("../datasets/european_cities.csv");
let dataframe = Dataframe::from_csv(path).unwrap();

Run the following codeblock to see the information about the dataframe:

In [10]:
dataframe.info()

Column Name          Type       None       Some            Total Length
-----------------------------------------------------------------
Barcelona            Float      0          24              24
Belgrade             Float      0          24              24
Berlin               Float      0          24              24
Brussels             Float      0          24              24
Bucharest            Float      0          24              24
Budapest             Float      0          24              24
Copenhagen           Float      0          24              24
Dublin               Float      0          24              24
Hamburg              Float      0          24              24
Istanbul             Float      0          24              24
Kyiv                 Float      0          24              24
London               Float      0          24              24
Madrid               Float      0          24              24
Milan                Float      0          24              24
Moscow               Float      0          24              24
Munich               Float      0          24              24
Paris                Float      0          24              24
Prague               Float      0          24              24
Rome                 Float      0          24              24
Saint Petersburg     Float      0          24              24
Sofia                Float      0          24              24
Stockholm            Float      0          24              24
Vienna               Float      0          24              24
Warsaw               Float      0          24              24

()

To see the memory usage of the dataframe, we call `memory_usage()`:

In [11]:
dataframe.memory_usage()

4608